<div onload="change()">
    <div class="mainContent clearfix">
            <h1 class= "heading" id = "greating">Welcome to my page</h1>
            <div class="font">
            <p>
                This is a web page that has some importent details about some of the places the 
                you might find interesting.The three places that this web page talks about are:
                <ul>
                    <li>Venice</li>
                    <li>Shimla</li>
                    <li>Acropolis</li>
                </ul>
                If you  like traveling and want to see  beautiful senarios.I deffinetly think  you should 
                visit these places. If you wanna know about these places <a href = "/about">Click Here....</a>
                <br>
                You can also see some pitchers <a href="/gallary">Here</a>.
            </p>
        </div>
        </div>
        <div class = "sideContent clearfix">
            <form>
                <p>What place do you wanna visit?</p>
                <input type="checkbox"  name = "places" value="shimla"> Shimla<br>
                <input type="checkbox"  name = "places" value="venice"> Venice<br>
                <input type="checkbox"  name = "places" value="acropolis"> Acropolis<br>
                <input type="checkbox" name = "places" id = "otherInput"  onclick="
                otherCountry ()"> Others<br><br>
                <input  type="submit" value="Submit" style="border-radius:6px;">
            </form>
        </div>
</div>