<div>
    <ul class = "pageBar">
            <li><a href = "#venice">About Venice</a></li>
            <li><a href = "#shimla">About Shimla</a></li>
            <li><a href = "#acropolis">About Acropolis of Athens</a></li>
        </ul>
        <div id = "venice" class="container">
            <h3 class="heading">About Venice</h3>
            <p>
                Venice  is a city in northeastern Italy and the capital of the Veneto region.
                It is situated across a group of 118 small islands that are separated by canals and linked by bridges, of which there are 400.
                The islands are located in the shallow Venetian Lagoon, an enclosed bay that lies between the mouths of the Po and the Piave rivers.
                <img src="venice.jpg"  class= "aboutImg">
                Parts of Venice are renowned for the beauty of their settings, their architecture, and artwork.
                The name is derived from the ancient Veneti people who inhabited the region by the 10th century BCE.
                The city was historically the capital of the Republic of Venice.
                Venice has been known as the "La Dominante," "Serenissima," "Queen of the Adriatic," "City of Water," "City of Masks," "City of Bridges," "The Floating City," and "City of Canals."
                The Republic of Venice was a major financial and maritime power during the Middle Ages and Renaissance, and a staging area for the Crusades and the Battle of Lepanto, as well as a very important center of commerce and art in the 13th century up to the end of the 17th century.
            </p>
        </div>
    </n>
        <div id = "shimla" class="container">
            <h3 class="heading">About Shimla</h3>
            <p>
                Most of the area occupied by present-day Shimla city was dense forest during the 18th century.
                The only civilisation was the Jakhoo temple and a few scattered houses.
                The area was called 'Shimla', named after a Hindu goddess, Shyamala Devi, an incarnation of Kali.
                Shimla is on the south-western ranges of the Himalayas.
                <img src ="shimla.jpg" class = "aboutImg">
                It has an average altitude of 2,206 metres above mean sea level and extends along a ridge with seven spurs.
                Shimla was built on top of seven hills: Inverarm Hill, Observatory Hill, Prospect Hill, Summer Hill, Bantony Hill, Elysium Hill and Jakhoo Hill.
                The people of Shimla are informally called Shimlaites. 
                With largely cosmopolitan crowds, a variety of festivals are celebrated there.
                The Shimla Summer Festival, held every year during peak tourist season,and lasting 3–4 days, is celebrated on the Ridge.
                The highlights of this event include performances by popular singers from all over the country.
            </p>

        </div>
        <br><br>
        <div  id = "acropolis" class="container">
            <h3 class="heading">About Acropolis of Athens</h3>
            <p>
                The Acropolis of Athens is an ancient citadel located on a rocky outcrop above the city of Athens and contains the remains of several ancient buildings of great architectural and historic significance, the most famous being the Parthenon.
                <img src= "acropolis2.jpg" class = "aboutImg">
                While there is evidence that the hill was inhabited as far back as the fourth millennium BC, it was Pericles (c. 495 – 429 BC) in the fifth century BC who coordinated the construction of the site's most important present remains including the Parthenon, the Propylaia, the Erechtheion and the Temple of Athena Nike.
                The Parthenon and the other buildings were damaged seriously during the 1687 siege by the Venetians during the Morean War when gunpowder being stored in the Parthenon was hit by a cannonball and exploded.
            </p>

        </div>
</div>