<div>
    <div class="whole">
    <div class = "firstRow">
        <img src = "venice3.jpg" class= "gallaryImg">
        <img src = "venice4.jpg" class= "gallaryImg">
        <img src = "venice5.jpg" class= "gallaryImg">
    </div>
    <div class = "secondRow">
        <img src = "shimla1.jpg"  class= "gallaryImg">
        <img src = "shimla2.jpg" class= "gallaryImg">
        <img src = "shimla3.jpg" class= "gallaryImg">
    </div>
    <div class = "thirdRow">
        <img src = "acropolis5.jpg" class= "gallaryImg">
        <img src = "acropolis3.jpg" class= "gallaryImg">
        <img src = "acropolis4.jpg" class= "gallaryImg">
    </div>
</div>
</div>